@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


.longTextDeny {

  display: -webkit-box;
  /* Enables the use of the following properties */
  -webkit-line-clamp: 1;
  /* Limits text to 2 lines */
  -webkit-box-orient: vertical;
  /* Specifies the box's orientation */
  overflow: hidden;
  /* Hides the overflowing text */
  text-overflow: ellipsis;
  /* Adds the ellipsis */

}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #CDD5DF;

  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--light);
  /* Arxa fon rəngi */
}

.storybyGradient{
  background: rgb(223,0,173);
background: linear-gradient(230deg, rgba(223,0,173,1) 0%, rgba(224,2,169,1) 30%, rgba(255,156,0,1) 70%, rgba(255,165,0,1) 100%);
}